* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Quattrocento Sans', sans-serif;
}

html {
    overflow-x: hidden;
}

body {
    background-color: rgb(189, 196, 187);
    color: rgb(3, 61, 3);
}

header {
    background-color: rgb(30, 68, 30);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-family: 'ZCOOL KuaiLe', sans-serif;
    font-size: 38px;
    padding: 10px;
    text-align: center;
}

.titulo:hover {
    color: rgb(8, 182, 8);
}

.titulo {
    display: block;
    cursor: pointer;
    color: white;
}

header img {
    width: 6em;
    margin-left: 2em;
}

header li {
    display: inline;
    padding: 16px;
    font-size: 18px;
    color: rgb(3, 61, 3);
}

header li a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

header li a:hover {
    border-bottom: green solid 5px;
    color: rgb(8, 182, 8);
}

.container-sobre {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.article-sobre {
    display: flex;
    width: 100%;
    padding: 16px;
    margin-top: 40px;
    align-items: center;
    color: rgb(3, 61, 3);
    background-color: rgb(108, 165, 108);
}

.sobre h2 {
    font-style: italic;
    border-bottom: rgb(30, 68, 30) solid 5px;
    color: rgb(8, 182, 8);
}

.sobre h2,
.sobre p {
    display: block;
    padding: 20px;
    color: aliceblue;
}

.container {
    display: flex;
    max-width: 1024px;
    width: 100%;
    margin: 15px auto;
    align-content: center;
}

.container img {
    width: 100%;
    max-width: 60em;
}

.container h3 {
    margin: 0.5em 0;
    font-size: 20px;
}

.container h2 {
    border-bottom: rgb(30, 68, 30) solid 6px;
    padding: 16px;
    margin-bottom: 16px;
    color: rgb(3, 61, 3);
    font-style: italic;

}

section p {
    width: 100%;
    margin: 0.5em 0;
}


.container ul li {
    padding: 1em;
}

.container ul {
    display: flex;
    list-style: none;
    margin-bottom: 24px;
}

.container button {
    margin-top: 1em;
    padding: 10px;
    display: block;
    color: rgb(255, 255, 255);
    background-color: rgb(30, 68, 30);
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 6px;
}

.container button:hover {
    background-color: rgb(7, 109, 7);

}

@media screen and (max-width: 667px) {

    header {
        background-color: rgb(30, 68, 30);
        display: block;
        align-items: center;
        justify-content: space-between;
    }

    header img {
        width: 6em;
        margin-left: 150px;
    }

    .titulo {
        text-align: center;
        margin: 10px;
    }

    header li a {
        text-decoration: none;
        margin-left: 2.5em;
        cursor: pointer;
        color: white;
    }

    .container-sobre {
        max-width: 896px;
        width: 100%;
        margin: 0 auto;
    }

    .container-sobre img {
        margin-left: 1.5em;
        width: 90%;
    }

    .article-sobre {
        display: block;
        width: 100%;
        padding: 16px;
        margin-top: 40px;
        align-items: center;
        color: rgb(3, 61, 3);
        background-color: rgb(108, 165, 108);
    }

    .container {
        display: block;
        width: 100%;
        margin: 15px auto;
    }

    .container ul {
        display: block;
        list-style: none;
        margin-bottom: 24px;
    }

}



@media screen and (min-width: 668px) and (max-width: 1180px) {


    header {
        display: flex;
        align-items: center;
    }

    header h1 {
        font-family: 'ZCOOL KuaiLe', sans-serif;
        font-size: 2.5em;
        padding: 5px;
        text-align: center;
    }

    header img {
        width: 6em;
        margin-left: 1em;
    }

    header li {
        display: inline;
        padding: 10px;
        font-size: 18px;
        color: rgb(3, 61, 3);
    }

    .container-sobre {
        align-items: center;
        max-width: 750px;
    }

    .article-sobre {
        display: block;
    }

    .container-sobre img {
        width: 95%;
    }

    .container {
        padding: 20px;
        margin: 0;
    }

    .container ul {
        display: flex;
        max-width: 100%;
        margin-bottom: 24px;
        flex-wrap: wrap;
    }

    .container {
        flex-wrap: wrap;
    }

    .container ul li {
        max-width: 50%;
    }

    .container li img {
        max-width: 100%;
    }
    

}